<footer class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-white">
        
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8 p-1">
                <h4>&nbsp;&nbsp;Donde encontrarnos:</h4>
                <iframe class="col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1601.6191987622492!2d-4.637953541731069!3d36.59656699499775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e3fae6eea481%3A0xd17d28dc4bdf1a6c!2sPlaza+Virgen+de+la+Pe%C3%B1a%2C+4%2C+29650+Mijas%2C+M%C3%A1laga!5e0!3m2!1ses!2ses!4v1519744859147" height="85%" frameborder="0" style="border:0; position: center;" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-6 col-lg-4 ">
                <br>
                <br>
                
                <div class="col-12">
                        
                    <app-login></app-login>

                    <app-social></app-social>

                </div>
                
                <br>
                <small class="ml-5">Sabanero Mijas © 2018</small>
                <br>
                <br>
            </div>
                
        </div>
    </div>
</footer>