<ul class="social ml-4 p-0" width="100%" >
    <li> <a [routerLink]="['']" routerLinkActive="active"> <i class=" fa fa-facebook">   </i></a></li>
    <li> <a [routerLink]="['']" routerLinkActive="active"> <i class="fa fa-twitter">   </i></a></li>
    <li> <a [routerLink]="['']" routerLinkActive="active"> <i class="fa fa-google-plus"></i></a></li>
    <li><a [routerLink]="['']" routerLinkActive="active"> <i class="fa fa-instagram"></i></a></li>
    <li> <a [routerLink]="['']" routerLinkActive="active"> <i class="fa fa-youtube"></i></a></li>
</ul>