input, textarea
{
    margin-top: 10px;
    margin-bottom: 10px;
}
#formulario{
	padding: 30px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 0px solid #000000;
	background: rgba(232,229,232,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(232,229,232,1) 3%, rgba(232,229,232,1) 56%, rgba(232,229,232,1) 59%, rgba(63,145,228,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(3%, rgba(232,229,232,1)), color-stop(56%, rgba(232,229,232,1)), color-stop(59%, rgba(232,229,232,1)), color-stop(100%, rgba(63,145,228,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(232,229,232,1) 3%, rgba(232,229,232,1) 56%, rgba(232,229,232,1) 59%, rgba(63,145,228,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(232,229,232,1) 3%, rgba(232,229,232,1) 56%, rgba(232,229,232,1) 59%, rgba(63,145,228,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(232,229,232,1) 3%, rgba(232,229,232,1) 56%, rgba(232,229,232,1) 59%, rgba(63,145,228,1) 100%);
	background: radial-gradient(ellipse at center, rgba(232,229,232,1) 3%, rgba(232,229,232,1) 56%, rgba(232,229,232,1) 59%, rgba(63,145,228,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e5e8', endColorstr='#3f91e4', GradientType=1 );
}
label{
	font-weight: bold;
}