<!---

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <br>
      <br>
      
      <h1>Admin Sabanero</h1>

      <h2>Nueva actividad</h2>

      <form (ngSubmit)="onsubmit()">

          <label for="id">id actividad</label>
          <input type="number" name="id" id="id" [(ngModel)]="actividad.id" placeholder="id actividad">
          <br>

          <label for="titulo">titulo actividad</label>
          <input type="text" name="titulo" id="titulo" [(ngModel)]="actividad.titulo" placeholder="titulo actividad">
          <br>

          <label for="descripcion">descripcion actividad</label>
          <input type="text" name="descripcion" id="descripcion" [(ngModel)]="actividad.descripcion" placeholder="descripcion actividad">
          <br>

          <label for="lugar">lugar actividad</label>
          <input type="text" name="lugar" id="lugar" [(ngModel)]="actividad.lugar" placeholder="lugar actividad">
          <br>

          <label for="fecha">fecha actividad</label>
          <input type="date" name="fecha" id="fecha" [(ngModel)]="actividad.fecha" placeholder="fecha actividad">
          <br>

          <label for="hora_inicio">hora inicio actividad</label>
          <input type="time" name="hora_inicio" id="hora_inicio" [(ngModel)]="actividad.hora_inicio" placeholder="hora de inicio">
          <br>

          <label for="hora_fin">hora fin actividad</label>
          <input type="time" name="hora_fin" id="hora_fin" [(ngModel)]="actividad.hora_fin" placeholder="hora de fin">
          <br>

          <input type="submit" value="Agregar actividad" class="btn btn-success">

          <br>
          <br>

      </form>

    </div>
</div>

-->

<div class="row">

panel de administración

</div>