<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1>
        {{titulo}}
      </h1>
      <h2 style="text-align: center">{{subtitulo}}</h2>
      <div>
        
      </div>
      
    </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
    <img src="../../assets/img/que_visitar/location-header.jpg" style="max-width: 100%">
  </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row">
        <div class="col-10 offset-1" style="margin-top: 20px;margin-bottom: 50px;">

          <h3 style="text-align: center;">¿Dónde se encuentra?</h3>
          <br>
          <p>El pueblo de Mijas es una de las joyas de la Costa del Sol, a sólo 10km del litoral, está situado en la ladera de la Sierra de Mijas a medio camino entre Málaga y Marbella. Sin duda este pueblo blanco sigue siendo un punto destacado en su región gracias a sus calles adoquinadas y estilo de vida andaluz de siempre.</p>

          <p>Muchos artistas y escritores lo han convertido en su hogar, disfrutando de los beneficios de un clima excelente durante todo el año, sin ser parte de las ciudades costeras más concurridas y comerciales a solo unos kilómetros de la montaña.</p>

          <p>Las comunicaciones modernas han llevado a Andalucía al alcance de la mayoría de las capitales europeas, atrayendo a muchos no solo a visitar y retirarse aquí, sino también a utilizarla como una base permanente para vivir y trabajar. Esta región es compatible con una población profesional activa, universidades privadas, tiendas de lujo, una amplia variedad de deportes y una vida social y cultural activa. El emplazamiento, rodeado de valles verdes, montañas y con excelentes vistas al mar, proporciona una libertad y una calidad de vida muy valoradas.</p>

          <p>Nuestra empresa se dedica al turiso sostenible en la zona de Mijas.</p><br>
          
          <h3 style="text-align: center;">¿Qué es el turimo sostenible?</h3>
          <br>
          <p>El turismo sostenible es una industria comprometida a hacer un bajo impacto sobre el medio ambiente y cultura local, al tiempo que contribuye a generar ingresos y empleo para la población local.</p>
          <p>El turismo sostenible se entiende como una forma de viajar que se basa en el respeto de los viajeros hacia las personas y lugares que se visitan mediante un acercamiento más profundo a la realidad del país y un intercambio cultural positivo entre ambas partes. Además de contribuir al desarrollo económico de la zona con el alojamiento en lugares gestionados por la comunidad, consumiendo productos de comercio justo y visitando y colaborando en proyectos solidarios que allí se lleven a cabo. En definitiva una manera de viajar que tenga un impacto positivo tanto en las comunidades que visitan como en el propio viajero.</p>
          
        </div>

      </div>
      <div class="row">
        <h4 class="col-12" style="text-align: center;">Videos Promocionales</h4><br><br>
        <div class="col-12 col-md-6">
          
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/45T-pIwBCRs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        <div class="col-12 col-md-6">
          
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/UJ-gOeoxags" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
</div>